<p>pomo, a simple pomodoro timer</p>
<p class="mt-2">
  this is a labor of love
  <fa-icon
    [icon]="['fas', 'heart-circle-check']"
    class="ml-1"
  ></fa-icon>
  and something i've wanted to work on for a while
  <fa-icon
    [icon]="['fas', 'face-smile-wink']"
    class="ml-1"
  ></fa-icon>
</p>
<p class="mt-2">version {{ version }}</p>
<p class="mt-2">created by Jon Poltorak</p>
<p class="mt-2">
  view progress on github:
  <a
    href="https://github.com/jtpoltorak/pomo-ui"
    target="_blank"
    class="text-blue-600 underline cursor-pointer hover:text-blue-800 visited:text-purple-600"
    >https://github.com/jtpoltorak/pomo-ui</a
  >
  <fa-icon
    [icon]="['fas', 'arrow-up-right-from-square']"
    class="ml-1"
  ></fa-icon>
</p>
