<p>
  Pomod is a simple, minimal timer for use with the
  <a
    href="https://en.wikipedia.org/wiki/Pomodoro_Technique"
    target="_blank"
    class="text-blue-600 underline cursor-pointer hover:text-blue-800 visited:text-purple-600"
    >Pomodoro Technique</a
  >
  <fa-icon
    [icon]="['fas', 'arrow-up-right-from-square']"
    class="ml-1"
  ></fa-icon>
  developed by Francesco Cirillo.
</p>
<p class="mt-2">Version {{ version }}</p>
<p class="mt-2">Created by Jon Poltorak</p>
<p class="mt-2">
  This is a labor of love
  <fa-icon
    [icon]="['fas', 'heart-circle-check']"
    class="ml-1"
  ></fa-icon>
  and something i've wanted to work on for a while
  <fa-icon
    [icon]="['fas', 'face-smile-wink']"
    class="ml-1"
  ></fa-icon>
</p>
<p class="mt-2">
  View progress on github:
  <a
    href="https://github.com/jtpoltorak/pomo-ui"
    target="_blank"
    class="text-blue-600 underline cursor-pointer hover:text-blue-800 visited:text-purple-600"
    >https://github.com/jtpoltorak/pomo-ui</a
  >
  <fa-icon
    [icon]="['fas', 'arrow-up-right-from-square']"
    class="ml-1"
  ></fa-icon>
</p>
<hr class="mt-2" />
<p class="mt-2">
  Pomodoro&reg; and The Pomodoro Technique&reg; are trademarks of
  Francesco Cirillo.
</p>
<p class="mt-2">
  Pomod is not affiliated or associated with or endorsed by
  Pomodoro&reg;, The Pomodoro Technique&reg; or Francesco Cirillo
  in any way.
</p>
