<div class="text-base">
  <p>I respect your privacy.</p>
  <p class="mt-2">
    This app does not collect, store, or use any personal
    information.
  </p>
  <p class="mt-2">
    Simply put, your privacy is completely maintained when
    you use this app.
  </p>
  <p class="mt-2">
    Your settings are maintained within your browser.
  </p>
  <p class="mt-2">
    No usage or performance metrics are captured.
  </p>
  <p class="mt-2">
    If you have any questions, please contact me.
  </p>
  <p class="mt-2">/s/Jon Poltorak</p>
</div>
