<div class="flex flex-col items-center justify-center">
  <div
    class="flex flex-row items-center justify-center my-3"
  >
    <button
      type="button"
      [ngClass]="
        selectedPhase === 'work'
          ? 'btn-group-primary-left-clicked'
          : 'btn-group-primary-left'
      "
      (click)="onWorkButtonClick()"
    >
      work
    </button>
    <button
      type="button"
      [ngClass]="
        selectedPhase === 'short break'
          ? 'btn-group-primary-middle-clicked'
          : 'btn-group-primary-middle'
      "
      (click)="onShortBreakButtonClick()"
    >
      short break
    </button>
    <button
      type="button"
      [ngClass]="
        selectedPhase === 'long break'
          ? 'btn-group-primary-right-clicked'
          : 'btn-group-primary-right'
      "
      (click)="onLongBreakButtonClick()"
    >
      long break
    </button>
  </div>
  <div
    class="w-64 mt-3 font-bold text-gray-800 text-8xl font"
    [ngClass]="
      timerState === timerStates.Paused
        ? 'animate-pulse'
        : 'animate-none'
    "
  >
    {{ timeLeft | date: 'mm:ss' }}
  </div>
  <div
    class="flex flex-row items-center justify-center my-3 space-x-2"
  >
    <button
      type="button"
      class="w-24 btn-primary"
      (click)="onStartPauseButtonClick()"
    >
      {{ startPauseButtonText }}
    </button>
    <button
      type="button"
      class="w-24 btn-primary"
      (click)="onResetButtonClick()"
    >
      reset
    </button>
  </div>
  <div
    class="flex flex-row items-center justify-center mt-3 space-x-4"
  >
    <button
      type="button"
      (click)="onMuteButtonClick()"
    >
      <fa-icon [icon]="['fas', 'volume-low']"></fa-icon>
    </button>
    <button
      type="button"
      (click)="onAutoplayButtonClick()"
    >
      <fa-icon [icon]="['fas', 'repeat']"></fa-icon>
    </button>
    <button
      type="button"
      (click)="onSettingsButtonClick()"
    >
      <fa-icon [icon]="['fas', 'sliders']"></fa-icon>
    </button>
    <button
      type="button"
      (click)="onHelpButtonClick()"
    >
      <fa-icon [icon]="['fas', 'question']"></fa-icon>
    </button>
    <button
      type="button"
      (click)="onAboutButtonClick()"
    >
      <fa-icon [icon]="['fas', 'info']"></fa-icon>
    </button>
  </div>
</div>
<hr class="my-6" />
<div class="flex flex-row items-center justify-center my-3">
  &copy; 2023 aba llc / all rights reserved
</div>
