<div class="flex flex-col items-center justify-center">
  <div class="flex flex-row items-center justify-center space-x-2">
    <button
      type="button"
      class="btn-primary"
      (click)="onWorkButtonClick()"
    >
      Work
    </button>
    <button
      type="button"
      class="btn-primary"
      (click)="onShortBreakButtonClick()"
    >
      Short Break
    </button>
    <button
      type="button"
      class="btn-primary"
      (click)="onLongBreakButtonClick()"
    >
      Long Break
    </button>
  </div>
  <div class="font-mono text-8xl font-bold text-white py-4 px-2">
    {{ timeLeft | date: 'mm:ss' }}
  </div>
  <div class="flex flex-row items-center justify-center space-x-2">
    <button
      type="button"
      class="btn-primary"
      (click)="onStartPauseButtonClick()"
    >
      {{ startPauseButtonText }}
    </button>
    <button
      type="button"
      class="btn-primary"
      (click)="onResetButtonClick()"
    >
      Reset
    </button>
  </div>
</div>
