<div
  class="flex flex-col items-center justify-center w-screen h-screen bg-gradient-to-br from-cyan-200 via-fuchsia-200 to-yellow-200 animate-gradient-x"
>
  <!-- <div
  class="flex flex-col items-center justify-center w-screen h-screen bg-[url('./assets/images/bg1.jpg')] bg-cover"
> -->
  <h1
    class="mt-20 font-extrabold text-gray-800 text-7xl font-outline-4"
  >
    pomo
  </h1>
  <h2 class="my-3 text-xl text-gray-800">
    a simple pomodoro timer
  </h2>
  <app-timer></app-timer>
  <app-footer class="mt-auto mb-4"></app-footer>
</div>
