<div
  class="flex flex-col items-center justify-center w-screen h-screen bg-gradient-to-br from-cyan-200 via-fuchsia-200 to-yellow-200 animate-gradient-x"
>
  <!-- <div
  class="flex flex-col items-center justify-center w-screen h-screen bg-[url('./assets/images/bg1.jpg')] bg-cover"
> -->
  <div
    class="flex flex-col justify-center p-4 align-middle"
  >
    <h1
      class="font-extrabold text-center text-gray-800 text-7xl font-outline-4"
    >
      pomod
    </h1>
    <h2 class="my-3 text-xl text-center text-gray-800">
      a simple pomodoro timer
    </h2>
    <app-timer></app-timer>
    <app-footer></app-footer>

    <button
      type="button"
      (click)="showInfoDialog = true"
      icon="pi pi-external-link"
      label="Show"
    >
      Open
    </button>
    <p-dialog
      header="Header"
      [(visible)]="showInfoDialog"
      [modal]="true"
      [style]="{ width: '20vw' }"
      [position]="'center'"
    >
      <ng-template pTemplate="header">
        <span class="font-bold">Heads up!</span>
      </ng-template>
      <p>An update is availabe.</p>
      <ng-template pTemplate="footer">
        <button
          icon="pi pi-check"
          (click)="showInfoDialog = false"
          label="Ok"
          styleClass="p-button-text"
        >
          Install
        </button>
      </ng-template>
    </p-dialog>
  </div>
</div>
