/* Sans fonts from Google... */
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Sofia */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
/* Roboto Condensed */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* Comfortaa */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/* Belanosima */
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');
/* Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Cabin */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* Jost */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Serif fonts from Google... */
/* Libre Baskerville */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* Mono fonts from Google... */
/* Victor Mono */
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Martian Mono */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
/* Noto Sans Mono */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* TailwindCSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Repeated TailwindCSS utility patterns */
@layer components {
  .btn-primary {
    /*@apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;*/
    @apply px-4 py-1 text-lg text-gray-800 rounded-lg border-2 border-white hover:text-white hover:bg-gray-600 hover:border-transparent focus:outline-none shadow-md;
    /* @apply rounded-l-lg border border-gray-200 bg-white text-sm font-medium px-4 py-2 text-gray-900; */
  }

  .btn-group-primary-left {
    @apply px-4 py-1 text-lg text-gray-800 rounded-l-lg border-2 border-white hover:text-white hover:bg-gray-600 hover:border-transparent shadow-md;
  }
  .btn-group-primary-left-clicked {
    @apply px-4 py-1 text-lg rounded-l-lg border-2 text-white bg-gray-600 border-transparent shadow-md;
  }

  .btn-group-primary-middle {
    @apply px-4 py-1 text-lg text-gray-800 border-2 border-white hover:text-white hover:bg-gray-600 hover:border-transparent shadow-md;
  }
  .btn-group-primary-middle-clicked {
    @apply px-4 py-1 text-lg border-2 text-white bg-gray-600 border-transparent shadow-md;
  }

  .btn-group-primary-right {
    @apply px-4 py-1 text-lg text-gray-800 rounded-r-lg border-2 border-white hover:text-white hover:bg-gray-600 hover:border-transparent shadow-md;
  }
  .btn-group-primary-right-clicked {
    @apply px-4 py-1 text-lg rounded-r-lg border-2 text-white bg-gray-600 border-transparent shadow-md;
  }
}

@layer base {
  .font-outline-1 {
    color: white;
    text-shadow:
      -1px -1px 1px #fff,
      1px -1px 1px #fff,
      -1px 1px 1px #fff,
      1px 1px 1px #fff;
  }
  .font-outline-2 {
    color: white;
    text-shadow:
      -2px -2px 2px #fff,
      2px -2px 2px #fff,
      -2px 2px 2px #fff,
      2px 2px 2px #fff;
  }
  .font-outline-4 {
    color: white;
    text-shadow:
      -4px -4px 4px #fff,
      4px -4px 4px #fff,
      -4px 4px 4px #fff,
      4px 4px 4px #fff;
  }
}

.p-sidebar-footer {
  display: none;
}
